<!-- <nav class="language-nav">
  <ul>
    <li><a href="<%=root_url%>">CSS</li>
    <li><a href="<%=root_url%>">HTML</li>
    <li><a href="<%=root_url%>">Javascript</li>
    <li><a href="<%=root_url%>">Ruby</li>
  </ul>
</nav> -->

<div class="masthead">


  <nav class="language-nav">
    <ul>
      <li><a href="<%=root_url%>">CSS</li>
      <li><a href="<%=root_url%>">HTML</li>
      <li><a href="<%=root_url%>">Javascript</li>
      <li><a href="<%=root_url%>">Ruby</li>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="App Academy Logo" class="logo">

  <ul class="masthead-links">
    <li>
        <time>Tuesday, October 18, 2016</time>
    </li>
    <li>
      <form action="<%=root_url%>" method="get">
        <button type="submit"><i class="fa fa-newspaper-o"></i>Today’s Paper</button>
      </form>
    </li>
    <li>
      <form action="<%=root_url%>" method="get">
        <button type="submit"><i class="fa fa-video-camera"></i>Video</button>
      </form>
    </li>
    <li>
      <form action="<%=root_url%>" method="get">
        <button type="submit">77°F</button>
      </form>
    </li>
    <li>
      <form action="<%=root_url%>" method="get">
        <button type="submit">AAO  <strong>+100%</strong></button>
      </form>
    </li>
  </ul>
</div>
